[submodule "src/pages/DataManager"]
	path = src/pages/DataManager
	url = https://github.com/availabs/DataManagerClient.git
[submodule "src/modules/avl-map-2"]
	path = src/modules/avl-map-2
	url = https://github.com/availabs/avl-map-2.git
[submodule "src/modules/avl-components"]
	path = src/modules/avl-components
	url = https://github.com/availabs/avl-components.git
[submodule "src/modules/dms"]
	path = src/modules/dms
	url = https://github.com/availabs/dms.git
[submodule "src/modules/ams"]
	path = src/modules/ams
	url = https://github.com/availabs/ams.git

[submodule "src/modules/avail-falcor"]
	path = src/modules/avail-falcor
	url = git@github.com:availabs/avl-falcor.git
